## ⏱️ Weekly Coding Activity

```text
Total Time Spent Coding: {{coding.totalHours}}
Daily Average:           {{coding.dailyAverage}}
```

| Language / Tech | Share | Time Tracked |
| :--- | :---: | :--- |
{{#coding.topLanguages}}
| **{{name}}** | `{{percent}}%` | {{text}} |
{{/coding.topLanguages}}

---
