## 🛠️ Technical Stack & Skills

{{#skills.categories}}
### {{icon}} {{name}}
<p align="left">
{{#skills}}
  <img src="{{iconUrl}}" alt="{{name}}" title="{{name}}" width="45" height="45" style="margin-right: 12px; margin-bottom: 12px;" />
{{/skills}}
</p>
{{/skills.categories}}

---
