## 📊 GitHub Analytics & Achievements

<div align="center">

### 🏆 GitHub Trophies
![](https://github-profile-trophy.vercel.app/?username={{profile.username}}&theme=onedark&column=6&margin-w=15&margin-h=15)

<br/>

<p align="center">
  <img src="https://github-readme-stats.vercel.app/api?username={{profile.username}}&show_icons=true&theme=tokyonight&count_private=true&hide_border=true" alt="Anurag's GitHub Stats" height="175"/>
  <img src="https://github-readme-stats.vercel.app/api/top-langs/?username={{profile.username}}&layout=compact&theme=tokyonight&hide_border=true&langs_count=8" alt="Top Languages" height="175"/>
</p>

<p align="center">
  <img src="https://github-readme-streak-stats.herokuapp.com/?user={{profile.username}}&theme=tokyonight&hide_border=true" alt="GitHub Streak" height="170"/>
</p>

### 🐍 Contribution Graph Animation
![](https://raw.githubusercontent.com/{{profile.username}}/{{profile.username}}/output/github-contribution-grid-snake.svg)

</div>

---
